<div class='container'>

<h1> <%= @restaurant.name %> </h1>

<ul> 
  <li> Address: <strong> <%= @restaurant.address %> </strong> </li>
  <li> Phone number: <strong> <%= @restaurant.phone_number %></strong> </li>
  <li> Category: <strong> <%= @restaurant.category %></strong> </li>
</ul>

<h2> Reviews </h2>

<ul class="list-inline"> <% @restaurant.reviews.each do |review| %>
  <li> <%= review.content %> <%= review.rating %></li> 
  <% end %>
</ul>

<p> <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %> </p>
<p> <%= link_to "Back to restaurants", restaurants_path %> </p>

</div>